$goy:#18afd3;
$sari:#f57e57;
$boz:#F1F3F9;
@mixin tittle {
    text-align: center;
    color: black;
    margin-top: 50px;
    text-decoration: none;
    position: relative;
}

@mixin border() {
    width: 8%;
    position: absolute;
    bottom: -30px;
    left: 45%;
    border-bottom: 3px solid $sari;
    content: '';
}

@mixin btn {
    background: $sari;
    border-radius: 20px;
    color: white;
    margin-top: 50px;
    padding: 15px 25px;
    font-weight: bold;
    transition: 0.3s ease-out;
    &:hover {
        background: $goy;
    }
}

body {
    a {
        padding: 0;
        margin: 0;
        color: black;
        text-decoration: none;
        &:hover {
            color: black;
            text-decoration: none;
        }
    }
}

.header {
    position: relative;
    .headBackImg{
        background: url('../img/head1.jpg') no-repeat;
        background-size: 1920px;
        height: 900px;        
    }
    .headlayot {
        position: absolute;
        top: 0;
        width: 100%;
        background: rgba(14, 99, 119, 0.3);
        z-index: 2;
        height: 100%;
        .head {
            margin-top: 20px;
        }
        i {
            border-radius: 100%;
            background: $goy;
            color: white;
            padding: 10px 14px;
            font-size: 24px;
        }
        .number,
        .location {
            font-size: 16px;
            color: white;
            a {
                margin-left: 15px;
                text-decoration: none;
                color: white;
                &:hover {
                    text-decoration: underline;
                    cursor: pointer;
                }
            }
            li {
                list-style-type: none;
            }
        }
    }
    img {
        max-width: 100%;
        cursor: pointer;
    }
    .homeHead {
        color: white;
        font-size: 24px;
        padding: 50px 0;
        h1 {
            font-size: 36px;
            padding: 50px 0;
        }
        .btn {
            background: $sari;
            border-radius: 20px;
            color: white;
            margin-top: 50px;
            padding: 10px 20px;
            font-weight: bold;
            transition: 0.3s ease-out;
            &:hover {
                background: $goy;
            }
        }
    }
    .form {
        border-radius: 10px;
        padding: 20px 30px;
        font-size: 16px;
        background: rgba(33, 33, 33, 0.4);
        input {
            height: 50px;
        }
        .message {
            color: black;
            height: 50px;
            width: 100%;
            border-radius: 5px;
            margin-top: 30px;
        }
    }
}

.schedule {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    .card {
        .vertical {
            float: left;
            width: 50px;
            height: 240px;
            margin-top: 40px;
            display: flex;
            justify-content: center;
            background: $goy;
            h1 {
                transform: rotate(-90deg);
                position: absolute;
                bottom: 35%;
                display: block;
                color: white;
                font-weight: bold;
                font-size: 18px;
                will-change: content;
                white-space: nowrap;
            }
        }
        .tableContent {
            float: left;
            height: 240px;
            width: 70%;
            background: $boz;
            margin-top: 40px;
            .cardContent {
                padding: 40px;
                i {
                    color: $sari;
                    font-size: 30px;
                }
                h5 {
                    margin-top: 20px;
                    line-height: 35px;
                    color: black;
                }
                p {
                    strong {
                        font-size: 28px;
                        line-height: 60px;
                    }
                    margin-top: 20px;
                    color: black;
                    max-width: 100%;
                }
            }
        }
    }
}

.mediaX {
    margin: 80px auto;
    .mediaTitle {
        h1 {
            text-align: center;
            color: black;
            margin-top: 50px;
            text-decoration: none;
            position: relative;
            &:before {
                width: 8%;
                position: absolute;
                bottom: -30px;
                left: 45%;
                border-bottom: 3px solid $sari;
                content: '';
            }
        }
        .choose {
            margin-top: 70px;
            .media {
                margin: 0;
                img {
                    background: $sari;
                    border-radius: 100%;
                    padding: 20px 25px;
                }
                .media-body {
                    padding-left: 20px;
                    max-width: 300px;
                    h3 {
                        margin: 0;
                        margin-bottom: 5px;
                    }
                    p {
                        color: #868686;
                    }
                }
            }
        }
    }
}

.services {
    background: $boz;
    h1 {
        @include tittle;
        &::before {
            @include border()
        }
    }
    p {
        color: #868686;
        margin: 70px auto;
        text-align: center;
    }
    .serviceImg {
        img {
            border-radius: 5px;
        }
        .imgLine {
            background: $goy;
            text-transform: uppercase;
            position: absolute;
            bottom: 10px;
            right: 0px;
            border-radius: 5px;
            transition: 0.3s ease-out;
            &:hover {
                background: $sari;
                transform: translateX(15px);     
            }
            a {
                color: white;
                text-align: center;
                line-height: 40px;
                font-weight: bold;
                padding: 0 15px;
                i {
                    display: none;
                }
            }
        }
    }
    .btn {
        @include btn;
        font-size: 18px;
        margin-left: 40%;
        margin-bottom: 5%;
    }
}
.consultation{
    .consultImg{
        
        background: url('../img/background-05.jpg') no-repeat;
        width: 100%;
        .consultContent{
            padding: 20%;
            color: white;
            h1{
            line-height: 50px;
            font-size: 38px;
            margin-bottom: 30px;
        }
        p{
            line-height: 30px;
        }
        .viewBtn{
            @include btn;
        }
        }
        
    }
}



// media-query responsive
@media only screen and (max-width:600px){
    .head,.homeHead p{
        display: none;
    }
}
